---
layout: default
---
<h1>Welcome!</h1>
<p>I am a PhD graduate (summer 2025) in Mechanical and Aerospace Engineering at UC San Diego, with a specialization in 
  Computational Sciences. I worked in <a href="https://www.ucsdrobotics.org">Flow control and coordinated robotics lab</a> under the guidance of <a href="http://robotics.ucsd.edu">Prof. Thomas R. Bewley</a>.
  My research primarily focuses on <em><strong>adaptive observation</strong></em>—designing control algorithms that adaptively 
  direct autonomous agents (such as UAVs or robots) as they interact (observe, search, or even put out wildfires...) with complex, uncertain environments. 
  My work blends numerical simulation,  stochastic dynamics, and optimization techniques to tackle real-world challenges.</p>
<p>My research interests include:</p>
<p>Probabilistic search theory · PDE-constrained optimal control · Ensemble-based adaptive observation
  · Stochastic dynamics and filtering · Numerical optimization and optimization · Surrogate-based derivative-free optimization</p>
</p>
  
<p>
I'm actively looking for postdoc positions where I can design theoretical control algorithms to solve real-world problems.
</p>

<h1>Research spotlights</h1>
<div class="projects-container">
  <ul style="list-style-type: none; padding: 0; margin: 0;">
    {% assign picks = site.projects | where_exp: "p", "p.spotlight == true" | where: "category", "main" %}
    {% for project in picks %}
      <li style="margin-bottom: 2em;">
        <div class="project-block">
          <div class="project-media">
            {% if project.media %}
              {% if project.media contains '.mp4' %}
                <video autoplay muted loop playsinline width="300">
                  <source src="{{ project.media }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {% else %}
                <img src="{{ project.media }}" alt="Project media" width="300" />
              {% endif %}
            {% endif %}
          </div>

          <div class="project-text">
            <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
            {% if project.summary %}
              <p class="project-summary">{{ project.summary }}</p>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>


<p>
Feel free to reach out if you are interested in any part of my work! Contact info please check below! 
</p>

