---
layout: default
---

<h1>{{ page.title }}</h1>

{% if page.author %}
  <p><strong>Authors:</strong> {{ page.author }}</p>
{% endif %}

{% if page.journal %}
  <p><strong>Published in:</strong> {{ page.journal }}</p>
{% endif %}

{% if page.conference %}
  <p><strong>Published in:</strong> {{ page.conference }}</p>
{% endif %}

{% if page.externallink %}
  <p><a href="{{ page.externallink }}" target="_blank">Official journal link (may require access)</a></p>
{% endif %}

{% if page.paperlink %}
  <p><a href="{{ page.paperlink }}" target="_blank">Read it now</a></p>
{% endif %}
